.IconMorado
{
    color: #22126F;
}

.BtnDropdownLeft
{
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0;
    color: black;
    border: none;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    font-size: 75%;
}

.BtnDropdownLeft:hover
{
    background-color: #CED0D4;
    border-top-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0;
    color: black;
    border: none;
    font-size: 75%;
}

.BtnDropdownRight
{
    background-color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 25px;
    color: black;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-size: 75%;
}

.BtnDropdownRight:hover
{
    background-color: #CED0D4;
    border-top-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 25px;
    color: black;
    border: none;
    font-size: 75%;
}

.BtnActivo
{
    background-color: #CED0D4;
    border-top-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0;
    color: black;
    border: none;
    font-size: 85%;
    text-align: center;
}

.BtnInactivo
{
    background-color: #CED0D4;
    border-top-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 25px;
    color: black;
    border: none;
    font-size: 85%;
    text-align: center;
}

.BtnActivo:checked
{
    background-color: #3FACB9;
    border-top-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 25px;
    color: black;
    border: none;
    font-size: 85%;
    text-align: center;
}

.BtnDropdown
{
    background-color: #CED0D4;
    color: black;
    border: none;
    font-size: 85%;
    text-align: center;
}

.IconButton
{
    color: black;
}

.IconBtnEmpresa
{
    color: #22126F;
}


.BtnAzul
{
    background-color: #0F3587;
    color: #FFF; 
    border-radius: 5px;
}

.BtnAzul:hover
{
    background-color: #0f3684;
    color: #FFF; 
    border-radius: 5px;
}

.BtnGris
{
    background-color: #CED0D4;
}

.BtnEmpresa
{
    background-color: #CED0D4;
    color: #22126F;
    font-size: 85%;
}

.BtnEmpresa:hover
{
    background-color: white;
    color: #22126F;
}

.BtnAmarillo
{
    background-color: #FAFAFC;
    color: #FEA625;
    font-size: 85%;
}

.BtnAmarillo:hover
{
    background-color: white;
    color: #FEA625;
}

.BtnContra
{
    background-color: #3FACB9;
    color: white;
    font-size: 75%;
}

.BtnContra:hover
{
    background-color: #3fc1bc;
    color: white;
    font-size: 75%;
}

.CheckBtnGris
{
    background-color: #CED0D4;
    border-radius: 0;
}

.CheckBtnGris:checked
{
    background-color: #3FACB9;
}


.ToggleIcon
{
    font-size: 2rem;
    color: #0F3587;
}